<input #gb type="text" placeholder="Global search">
<p-dataTable [value]="compositions" [globalFilter]="gb">
    <p-header><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-header>
  <p-column field="catagory" header="Catoagory"></p-column> 
  <p-column field="libraryNumber" header="Library Number" sortable="true"></p-column>
  <p-column field="title" header="title" sortable="true"></p-column>
  <p-column field="composer" header="Composer"></p-column> 
  
</p-dataTable>